In [8]:
import requests
import pdfplumber
import pandas as pd
from io import BytesIO

# Download PDF from URL
url = "https://hdr.undp.org/system/files/documents/global-report-document/hdr2023-24overviewen.pdf"
response = requests.get(url)
pdfFile = BytesIO(response.content) # To avoid saving files to disk

# List out the column headers from the PDF table
customColumns = [
    "Rank", "HDI Rank (2021)", "Country", "HDI", "IHDI", "Loss due to inequality (%)",
    "GDI", "GDI Group", "GII", "GII Rank", "Maternal mortality ratio",
    "Adolescent birth rate", "Female seats in parliament (%)",
    "Female secondary education (%)", "Male secondary education (%)",
    "Female labour force participation (%)", "Male labour force participation (%)",
    "Multidimensional Poverty Index (MPI)", "Intensity of deprivation (%)",
    "Planetary pressures–adjusted HDI", "Difference from HDI"
]

# List the pages you want to extract the tables from
pagesToExtract = list(range(41, 47))  # i.e. pages 41 to 46

# Create a list to store all extracted DataFrames
allDataFrames = []

# Loop through each page to extract tables
with pdfplumber.open(pdfFile) as pdf:
    for pageNum in pagesToExtract:
        page = pdf.pages[pageNum - 1]
        tables = page.extract_tables() # Call the extract_tables() method to look for tables

        print(f"\n Page {pageNum} — {len(tables)} tables found")

        for i, table in enumerate(tables):
            df = pd.DataFrame(table) # Convert table into Pandas DataFrame

            # Skip the first row of the table 
            df = df[1:]

            # Only keep as many columns as defined and assign headers
            df = df.iloc[:, :len(customColumns)] # Use Pandas int location method to select data
            df.columns = customColumns[:df.shape[1]]

            # Replace any missing values with NA
            df.replace(["..", "—", "", None], pd.NA, inplace=True)

            # Add to the list of Dataframes
            allDataFrames.append(df)

# Concatenate all tables into one
final_df = pd.concat(allDataFrames, ignore_index=True)

# Uncomment if you want to see all the rows
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_rows', None)
# display(final_df)

# Show the first few rows
display(final_df.head(20))

# Optional: save to CSV
# final_df.to_csv("hdr_combined_table.csv", index=False)

 Page 41 — 1 tables found

 Page 42 — 1 tables found

 Page 43 — 1 tables found

 Page 44 — 1 tables found

 Page 45 — 0 tables found

 Page 46 — 0 tables found

,Rank,HDI Rank (2021),Country,HDI,IHDI,Loss due to inequality (%),GDI,GDI Group,GII,GII Rank,Maternal mortality ratio,Adolescent birth rate,Female seats in parliament (%),Female secondary education (%)
0,1,Switzerland,0.967,0.891,7.9,0.971,2,0.018,3,<NA>,<NA>,<NA>,0.826,14.6
1,2,Norway,0.966,0.903,6.5,0.986,1,0.012,2,<NA>,<NA>,<NA>,0.808,16.4
2,3,Iceland,0.959,0.910,5.1,0.975,1,0.039,9,<NA>,<NA>,<NA>,0.806,16.0
3,4,"Hong Kong, China (SAR)",0.956,0.840,12.1,0.972,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,5,Denmark,0.952,0.898,5.7,0.981,1,0.009,1,<NA>,<NA>,<NA>,0.839,11.9
5,5,Sweden,0.952,0.878,7.8,0.983,1,0.023,4,<NA>,<NA>,<NA>,0.839,11.9
6,7,Germany,0.950,0.881,7.3,0.966,2,0.071,19,<NA>,<NA>,<NA>,0.833,12.3
7,7,Ireland,0.950,0.886,6.7,0.991,1,0.072,20,<NA>,<NA>,<NA>,0.814,14.3
8,9,Singapore,0.949,0.825,13.1,0.991,1,0.036,8,<NA>,<NA>,<NA>,0.745,21.5
9,10,Australia,0.946,0.860,9.1,0.978,1,0.063,17,<NA>,<NA>,<NA>,0.763,19.3
10,10,Netherlands,0.946,0.885,6.4,0.960,2,0.025,5,<NA>,<NA>,<NA>,0.796,15.9
11,12,Belgium,0.942,0.878,6.8,0.975,1,0.044,11,<NA>,<NA>,<NA>,0.803,14.8
12,12,Finland,0.942,0.886,5.9,0.989,1,0.032,6,<NA>,<NA>,<NA>,0.787,16.5
13,12,Liechtenstein,0.942,<NA>,<NA>,0.949,3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
14,15,United Kingdom,0.940,0.865,8.0,0.976,1,0.094,28,<NA>,<NA>,<NA>,0.846,10.0
15,16,New Zealand,0.939,0.856,8.8,0.970,2,0.082,23,<NA>,<NA>,<NA>,0.814,13.3
16,17,United Arab Emirates,0.937,0.859,8.3,0.986,1,0.035,7,<NA>,<NA>,<NA>,0.688,26.6
17,18,Canada,0.935,0.864,7.6,0.988,1,0.069,18,<NA>,<NA>,<NA>,0.726,22.4
18,19,Korea (Republic of),0.929,0.841,9.5,0.948,3,0.062,16,<NA>,<NA>,<NA>,0.775,16.6
19,20,Luxembourg,0.927,0.839,9.5,0.993,1,0.043,10,<NA>,<NA>,<NA>,0.685,26.1